<div class="article-form">
<%= form_with scope: :article, url: article_path(@article), method: "patch" do |form| %>
  <%= form.label :title, style: "display:block" %>
  <%= form.text_field :title %>
  <%= form.label :content, style: "display:block" %>
  <%= form.rich_text_area :body %>
  <%= form.submit "Update" %>
</div>
<br>
<div>
  <%= link_to "Delete", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
</div>
<% end %>